ion-row {
    padding: 10px 20px;
}
.sc-ion-input-md-h {
    --padding-start: 0;
}
form {
    padding: 20px;
}
ion-button {
    margin-top: 13px;
}
ion-item {
    --min-height: 47px;
}
a {
    display: block;
    text-align: center;
    margin-top: 19px;
    span {
        color: var(--thr-theme-color);
        border-bottom: 1px solid var(--thr-theme-color);
    }
}
.record ion-button {
    height: 40px;
    --padding-start: 20px;
    --padding-end: 20px;
    font-size: 15px;
}
