.logo {
    background: url(../../../assets/logo.svg) no-repeat center;
    max-width: 200px;
    height: 34px;
    background-size: contain;
    margin: auto;
    margin-top: 76px;
}

.tabs {
    display: flex;
    border-bottom: 1px solid var(--ion-item-border-color);
    width: calc(100% - 60px);
    margin: 60px auto 18px;
    a {
        font-weight: bold;
        flex: 1;
        margin-bottom: -1px;
        padding: 15px 0;
        border-bottom: 2px solid transparent;
        color: var(--thr-theme-color);
        border-bottom: 1px solid var(--ion-item-border-color);
        margin-top: 22px;
        display: inline-block;
        opacity: 0.4;
        &.active {
            border-bottom: 2px solid #f21a50;
            color: var(--theme-text-color);
            opacity: 1;
        }
    }
}

ion-item {
    --padding-end: 10px;
    --padding-start: 10px;
}

.forget {
    color: var(--thr-theme-color);
    border-bottom: 1px solid var(--thr-theme-color);
    margin-top: 14px;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
}

.container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
