div {
    padding-left: 30px;
    svg {
        margin-right: 12px;
    }
}

ion-item-sliding {
    ion-item {
        border: none;
        --border-color: transparent;
        border-width: 0;
        --inner-border-width: 0;
        &.active {
            border-bottom: 5px solid #ff0000;
        }
    }
    ion-item-option svg {
        margin: 0;
        padding: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    svg {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        margin-left: -58px;
    }
}

.item {
    display: flex;
    justify-content: space-between;
    div {
        padding-left: 58px;
        flex: 3;
    }
    .create-system-entity {
        display: flex;
        padding: 0;
        flex: 1;
        div {
            padding: 0;
        }
    }
}

.add-dir,
.add-list {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border: 1.5px solid #96bbfc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4f85e3;
    opacity: 0.7;
}
.add-list {
    border: 1.5px solid #abafb2;
    color: #abafb2;
}

.folder-name {
    padding: 20px 0px;
}
