.no-data {
    position: absolute;
    top: calc(50% - 50px);
    transform: translate(0, 50%);
    width: 100%;
    margin: auto;
}
.icons {
    position: absolute;
    right: 20px;
    top: 46px;
    display: flex;
    // margin-top: -4px;
    z-index: 999;
}
.icon {
    border-radius: 4px;
    background: #f3f5f9;
    border: 1px solid #ffffff;
    padding: 8px;
    width: 41px;
    height: 41px;
    margin-left: 13px;
    margin-right: 3px;
    box-shadow: 0 2px 12px rgb(222 200 173 / 74%);
}
