<ion-content [fullscreen]="true">
  <app-header>
    <a (click)="logout()">Log out</a>
  </app-header>

  <ion-list>
    <ion-item>
      <ion-label>
        <strong>Email: </strong>
      </ion-label>
      <div>{{ (auth.user$ | async).email }}</div>
    </ion-item>
    <ion-item>
      <ion-label>
        <strong>Change vacabulary:</strong>
      </ion-label>
      <ion-select [value]="currLang" okText="Ok" cancelText="" (ionChange)="selectLang($event.target.value)">
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="hw">Other</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>