/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "src/theme/custom_variables.scss";

/*  */
@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Poppins Medium";
    src: url("./assets/fonts/Poppins-Medium.ttf");
}

html.md {
    // --ion-default-font: "Poppins", sans-serif;
    --ion-default-font: "Arial", sans-serif;
}

body {
    background: var(--ion-background-color);
}

ion-content {
    // --ion-background-color: transparent;
}

ion-tab-bar {
    // border-top: 1px solid var(--ion-item-border-color);
    border-top: none;
    // border-radius: 26px 26px 0 0;
    border-top: 1px solid white;
    ion-tab-button:first-child {
        border-radius: 26px 0 0 0;
    }
    ion-tab-button:last-child {
        border-radius: 0 26px 0 0;
    }
    svg {
        fill: #464055;
    }
}

ion-toolbar {
    background-color: var(--ion-toolbar-background);
    box-shadow: none;
    color: var(--ion-toolbar-color);
}

ion-modal {
    // &.modal-add-system-entity,
    // &.modal-edit-system-entity{
    //     84px
    // }
    &.modal-add-system-entity,
    &.modal-edit-system-entity,
    &.modal-add-audio,
    &.modal-add-word,
    &.modal-edit-word {
        --height: 84px;
        padding: 20px;
        .modal-wrapper {
            box-shadow: 0 8px 15px rgba(12, 30, 63, 0.05);
            background: var(--ion-fab-list);
            position: absolute;
            bottom: 10px;
            max-width: 95%;
            position: absolute;
        }
    }
    &.modal-add-audio {
        --height: 236px;
    }

    &.modal-edit-word {
        --height: 250px;
    }
    &.modal-add-word {
        --height: 290px;
    }
    ion-backdrop {
        background-color: rgba(168, 100, 216, 0.612);
        --backdrop-opacity: 0.4;
    }
}

ion-button {
    text-transform: capitalize;
    height: 56px;
    box-shadow: 0 7px 10px rgb(9 60 151 / 50%);
    font-size: 18px;
    border-radius: var(--btn-border-radius);
    --border-radius: var(--btn-border-radius);
}

ion-title {
    font-size: 17px;
}

ion-content {
    --padding-bottom: 30px;
}

ion-list {
    padding: 0;
}
form {
    ion-item {
        color: var(--theme-text-color);

        --padding-end: 25px;
        --padding-start: 25px;
        --inner-padding-end: 0;
        &.item-has-focus .label-floating.sc-ion-label-md-h {
            color: var(--text-color);
        }
        ion-input {
            font-weight: bold;
        }
    }
}

ion-item {
    --min-height: 60px;
    color: var(--theme-text-color);
}

ion-item-sliding {
    border-bottom: 1px solid var(--ion-item-border-color);
    // border: 2px sold red;
    ion-item-options {
        padding-right: 12px;
        ion-item-option {
            width: 36px;
            // svg {
            //     fill: #ffffff;
        }
    }
}
ion-fab {
    border: 12px solid var(--ion-fab-highlight);
    border-radius: 50px;
    background: var(--ion-background-color);
    left: calc(50% - 9px);
    ion-fab-button {
        box-shadow: 0 5px 10px rgba(155, 95, 229, 0.871);
        border-radius: 50px;
        width: 55px;
        height: 55px;
        background: var(--main-theme-color);
    }
    .item {
        background: var(--ion-fab-list);
        color: var(--theme-text-color);
    }
}

ion-item-option {
    background: none;
}

a {
    text-decoration: none;
}
ul li {
    list-style: none;
}

form svg {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    align-items: center;
    fill: var(--thr-theme-color);
}

.item-interactive.ion-valid {
    --highlight-background: var(--main-theme-color);
}

/* Rounded corners */
ion-toolbar {
    padding-bottom: 23px;
    padding-bottom: 28px;
}
.corners {
    position: relative;
    display: block;
    width: 100%;
    height: 23px;
    background: var(--ion-background-color);
    z-index: 999;
    border-radius: 32px 32px 0 0;
    margin-top: -22px;
}
.alert-title.sc-ion-alert-md,
[aria-checked="true"].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md,
.sc-ion-alert-md .alert-radio-label.sc-ion-alert-md {
    color: var(--theme-text-color);
}
svg {
    opacity: var(--svg-opacity);
}

@media screen and (min-width: 770px) {
    body {
        background: #030331;
        transform: scale(0.9);
        margin-top: -10px;
        --ion-background-color: #ffffff;
    }
    ion-app {
        max-width: 345px;
        height: 698px;
        border: 10px solid white;
        border-radius: 38px;
        margin: 20px auto;
    }
    ion-tab-bar {
        border-top: 1px solid white;
    }
    :root {
        --ion-background-color: #f9fafc;
    }
}
